.js-map{
    font-family: monospace;
    line-height:80%;
    font-size:25px;
}

.candy{
    color:#ee6e73;
}

.hitWall {
	color: gray;
}

.player{
    color:#01DF01;
}

#nameInput {
    text-align:center;
}

main{
    padding-top:20px;
}