main {
	min-height: 80vh;
	padding-top:20px;
}

.menue {
	min-height: 30vh;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.js-map{
    font-family: monospace;
    line-height:80%;
    font-size:25px;
}

.candy{
    color:#ee6e73;
}

.hitWall {
	color: gray;
}

.player{
    color:#01DF01;
}

#nameInput {
    text-align:center;
}